<div class="row">
    <div class="col-4">
        On Way - From .ts to .html
    </div>
    <div class="col-4">

    </div>
    <div class="col-4">
        
    </div>
</div>
<div class="row">
    <div class="col-4">    
        <div class="row">
            <div class="col-4 bg-success m-2">
                interpolation
              <h3> {{courseName}}</h3> 
              <div>{{inputType}}</div>
              <input type="text" value="{{courseName}}" placeholder="Enter Text">
              <input type="{{inputType}}">
              <input type="{{inputTypes}}">
            </div>
            <div class="col-4">
                Property Binding
                <div class="{{myClassName}}">Danger</div>
                <input type="text" [value]="courseName">
                
                <input [type]="inputTypes">
            </div>
            <div class="col-4">
                <button class="btn btn-success"(click)="showAlert('Welcome Angular 18')">Show Welcome</button>
                <span class="btn-danger"(click)="showAlert('Angular pdo')">Show Welcome</span>
                <button class="btn btn-success"(click)="changeClassName()">Change Course</button>
             </div>
        </div>
    </div>
    <div class="col-4 r" >
       <input type="text"[(ngModel)]="courseName"> -{{courseName}}
       <select [(ngModel)]="stateName">
        <option value="">Select</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Goa">Goa</option>
        <option value="Punjab">Punjab</option>
       </select>
     </div>
   
    <div class="col-4">
        <h2 >{{firstName()}}</h2>

    </div>
</div>